<%-include('partials/header') %>

<h1 class="ui centered"><div class="ui huge header">Edit <%= pet.pName%></div></h1>
<div  class="ui inverted segment"> 
        <form action="/allpets/<%=pet._id%>?_method=PUT" method="POST">
            
                <div class="ui inverted form"> 
                        <div class="field">
                            <label>Pet Name</label>
                            <!-- Remove  placeholder and add value instead and work with pet -->
                            <input type="text" name=pet[pName]  value="<%=pet.pName%>">
                        </div>
                </div>
                <div class="ui inverted form">
                    <div class="field">
                        <label>Pet Age</label>
                        <input type="text" name=pet[pAge] value="<%=pet.pAge%>">
                    </div> 
                </div> 
                    
                <div class="ui inverted form">
                    <div class="field">
                        <label>Pet Image</label>
                        <input type="text" name=pet[pPic] value="<%=pet.pPic%>">                        
                    </div>    
                </div>    
                    
                <div class="ui inverted form">    
                    <div class="field">
                        <label>Pet Breed</label>
                        <input type="text" name="pet[pBreed]" value=" <%=pet.pBreed %>">
                    </div>       
                </div>

                <div class="ui inverted form">    
                    <div class="field">
                        <label>Pet Owner Name</label>
                        <input type="text" name="pet[pOwnerName]" value="<%=pet.pOwnerName%>">
                    </div>       
                </div>    
               

                <div class="ui inverted form">
                <div class="field">
                    <label>Pet Owner Number</label>
                    <input type="text" name="pet[pOwnerNumber]" value=" <%=pet.pOwnerNumber %>">
                </div>

                </div>
                
            
                <div class="ui inverted form">    
                    <div class="field">
                        <label>Pet Owner Location</label>
                        <input type="text" name="pet[pLocation]" value="<%=pet.pLocation%>">
                    </div>       
                </div>    
               
                <div class="ui  inverted form">    
                    <div class="field">
                        <button class="ui submit button">Submit</button>
                    </div>        
                </div>         
        </form>

</div>
<div class="ui inverted segment">
    <p>&#169 Copyright <a href="https://github.com/kirit01">Shashank</a></p>
</div>